body{
    background-color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:green;
    text-align:center;
    font-style: italic;
    font-size: 50px
}
hr{
    border: 2px solid black;
}
P{
    font-size :20px;
    color:green;
}
.linkdln h1{
    text-align: center;
    color:aqua;
} p a{
    color:blue;
    text-align:center;
    font-style: italic;
    font-size:40px;
}



